@import 'variables.scss';

html, body, #content, #content > .pure-g {
  height: 100%;
  background-color: $dark-primary-color;
  color: $dark-secondary-color;
}

.icon {
  font-family: "fontello";
}

.content {
  overflow: auto;
}

.border-img {
  border: 1px solid $accent-blue;
  padding: 10px;
  border-radius: 50%;
}

.center-border-img {
  @extend .border-img;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.small-border-img {
  @extend .border-img;
  width: 80px;
}
