@import 'variables.scss';

html, body, #content, #content > .pure-g {
  height: 100%;
  background-color: $dark-primary-color;
  color: $dark-secondary-color;
}

.icon {
  font-family: "fontello";
}

.content {
  overflow: auto;
}

.border-img {
  border: 1px solid $accent-blue;
  padding: 10px;
  border-radius: 50%;
  box-sizing: border-box;
}

.center-border-img {
  @extend .border-img;
  max-width: 120px;
  max-height: 120px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.small-border-img {
  @extend .border-img;
  width: 80px;
}

.payment {
  & > button, div {
    height: 40px;
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .border-img {
    padding: 4px;
  }

  & > button {
    width: 100%;
  }
}
