@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?23168757');
  src: url('../font/fontello.eot?23168757#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2') format('woff2'),
       url('../font/fontello.woff?23168757') format('woff'),
       url('../font/fontello.ttf?23168757') format('truetype'),
       url('../font/fontello.svg?23168757#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon-down-open:before { content: '\e800'; }
.icon-cancel:before { content: '\e801'; }
.icon-help:before { content: '\e802'; }
