@import 'variables.scss';

.user-popup {
  border: 1px solid $light-primary-color;
  color: $white;

  .grid-card {
    border-top-width: 0;
    border-bottom-width: 0;
  }

  a {
    color: #fff;
    text-decoration: none;
  }

  .text {
    line-height: $fixedcard-height;
    vertical-align: middle;
    font-size: 20px;
    text-align: center;
  }

  .icon-cancel-wrapper {
    position: relative;

    .icon-cancel {
      display: block;
      color: $dark-secondary-color;
      font-size: 1.5em;
      cursor: pointer;
      padding: 10px;

      position: absolute;
      top: 50%;
      margin-top: -0.75em;
      left: 50%;
      margin-left: -0.75em;
    }
  }
}
