@import 'variables.scss';

.user-popup {
  background-color: $popup-background-color;
  border-width: 0px 1px;
  border-style: solid;
  border-color: $sidebar-background-color;
  color: $sidebar-color;
  padding: 5px 0 5px 5px;

  .user-avatar {
    border-right: 2px solid $sidebar-background-color;
    height: 100%;
  }

  .products {
    border-left: 5px solid $sidebar-background-color;
    border-right: 5px solid $sidebar-background-color;
    padding-bottom: 15px;

    .pure-u-1-5 {
      &.other {
        font-variant: small-caps;
      }

      & > div {
        width: 100px;
        height: 100px;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid $user-avatar-border-color;
        padding: 10px;

        span {
          line-height: 100px;
          vertical-align: middle;
          font-size: 20px;
        }

        img {
          vertical-align: middle;
        }
      }
    }
  }

  .user-avatar, .products {
    padding-top: 20px;
  }

  & > div {
    text-align: center;
  }

  .icon-cancel-wrapper {
    position: relative;

    .icon-cancel {
      display: block;
      color: $user-color;
      font-size: 1.5em;
      cursor: pointer;
      padding: 10px;

      position: absolute;
      top: 50%;
      margin-top: -0.75em;
      left: 50%;
      margin-left: -0.75em;
    }
  }
}
