/* Color palette */
$dark-primary-color: #172B3B;
$dark-secondary-color: #75848F;
$dark-tertiary-color: #D0D4D6;

$light-primary-color: #3d4f5d;
$light-secondary-color: #b0cadb;

$white: #fff;
$accent-blue: #399EAD;
