@import 'variables.scss';

html, body, #content, #content > .pure-g {
  height: 100%;
}

.icon {
  font-family: "fontello";
}

.content {
  overflow: scroll;
}

.border-img {
  border: 1px solid $user-avatar-border-color;
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border-radius: 50%;
  margin-bottom: 10px;
}
