@import 'variables.scss';

.user {
  text-align: center;
  padding: 20px;
  background-color: $user-background-color;
  color: $user-color;
  border: 1px solid $sidebar-background-color;

  &:hover {
    cursor: pointer;
    color: $user-hover-color;
  }

  .user-avatar {
    border: 1px solid $user-avatar-border-color;
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 50%;
    margin-bottom: 10px;

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      border-radius: 50%;
    }
  }

  .user-name {
    font-variant: small-caps;
  }

  .icon-down-open {
    display: block;
    font-size: 1.5em;
    margin-top: 1em;
  }
}
