@import 'variables.scss';

.user-popup {
  background-color: $popup-background-color;
  border-width: 5px 1px;
  border-style: solid;
  border-color: $sidebar-background-color;
  color: $sidebar-color;

  .user-avatar {
    border-right: 2px solid $sidebar-background-color;
    height: 100%;
  }

  .products-wrapper {
    position: relative;

    .products {
      height: 100%;
      width: 100%;
      position: absolute;

      .pure-u-1-3 {
        &.other {
          font-variant: small-caps;

          span {
            line-height: 100px;
            vertical-align: middle;
            font-size: 20px;
          }
        }

        & > div {
          width: 100px;
          height: 100px;
          margin-left: auto;
          margin-right: auto;
          border: 1px solid $user-avatar-border-color;
          padding: 10px;
        }
      }
    }
  }

  .user-avatar, .products {
    padding-top: 20px;
  }

  & > div {
    text-align: center;
  }

  .icon-cancel {
    display: block;
    margin-top: 15px;
    color: $user-color;
    font-size: 35px;
    cursor: pointer;
  }
}
