/* Sidebar */
$sidebar-background-color: #3d4f5d;
$sidebar-color: #fff;
$sidebar-secondary-color: #b0cadb;
$sidebar-button-border: #b0cadb;

/* User */
$user-background-color: #172B3B;
$user-avatar-border-color: #399EAD;
$user-color: #75848F;
$user-hover-color: #D0D4D6;

/* Popup */
$popup-background-color: #172B3B
